.img{
    /* background-image: url("https://previews.123rf.com/images/peshkov/peshkov1905/peshkov190500648/123065445-creative-dark-coding-texture-with-text-programming-and-future-concept-3d-rendering.jpg"); */
     background-repeat: no-repeat;
     background-size: 1519px 713px;
     background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1562813733-b31f71025d54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvZGluZ3xlbnwwfHwwfHw%3D&w=1000&q=80');
 }
